.restaurante{
    background-color: white;
    margin-bottom: 70px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.productos{
    background-color: white;
}

.img_qbano{
    border-color: white;
    border-bottom: 0%;
    border-radius: 0%;
}

#uno.card{
    border-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

#dos.col-6{
    margin-top: 80px;
}

.Card{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}





