.soporte{
    background-color: #FFE2D8;
    padding-bottom: 10px;
    padding-top: 10px;
}

.chat{
    min-width: 70%;
	margin: auto;
	margin-top: 50px;
	background: #fff;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	width: 400px;
	margin-bottom: 60px;
    border-radius: 10px;
    border-color: black;
}