@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

buscador {
	margin-right: 100px;
	}

* {
	padding: 0px;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #ffe2d8;
	font-family: 'Inter', sans-serif;
}
.is{
	font-size: 50px;
	color: #3B4754;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}

.is2{
	display: flex;
	font-size: 40px;
	color: #3B4754;
	font-weight: bold;
	margin: 20px 90px 20px 0px;
	align-items: center;
	justify-content:center;
}

.box{
	margin:30px;
	padding:20px;
	box-shadow: 0 0 5px #00000025 inset;
}

.grid-responsive{
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
	gap: 5px;
}

::placeholder{
	justify-content: center;
	vertical-align:text-bottom;
	line-height: 20px;
}

.ini{
	height: 35px;
	width: 80px;
	border-radius: 8px;
	background-color: #A0A9B5;
	color: #361400;
	margin: 10px 22%;
	line-height: 10px;
	font-weight:bold;
}

.regi{
	display: block;
	height: 35px;
	width: 100px;
	border-radius: 8px;
	background-color: #FF8351;
	color: #361400;
	padding: 2px ;
	margin: 0px 30% 10px 70px;
	font-weight:bold;
	align-content: center;
}

.reg{
	height: 35px;
	width: 100px;
	border-radius: 8px;
	background-color: #FF8351;
	color: #361400;
	padding: 2px ;
	line-height: 10px;
	margin: 0px 40% 10px;
	font-weight:bold;
}


#pd{
	text-align: center;
}

.cen{
	margin: 0px auto;
}

.nav{
	background-color: #FF8351;
}

#lg{
	width: 500px;
}

.border{
	border-radius: 10px;
	color:#3B4754;
}

.border1{
	
	color: #3B4754;
}

.bf{
	background: #3A5897;
	width: 280px;
	font-weight: bold;
	border-radius: 8px;
}

.bfr{
	background: #3A5897;
	width: 210px;
	font-weight: bold;
	border-radius: 8px;
}

.bg{
	background: #DC4E41;
	width: 280px;
	font-weight: bold;
	margin: 7px 0px 7px;
	border-radius: 8px;
}

.bgr{
	background: #DC4E41;
	width: 210px;
	font-weight: bold;
	margin: 7px 0px 7px;
	border-radius: 8px;
}

.container{
	display:grid;
	justify-content: center;
}

.ba{
	background: #2E2C36;
	width: 280px;
	font-weight: bold;
	border-radius: 8px;
}

.bar{
	background: #2E2C36;
	width: 210px;
	font-weight: bold;
	border-radius: 8px;
}

#borderI{
	border-radius: 10px;
}

.is1{
	font-size: 16px;
	color: #000000;
	padding: 20px;
	text-align: left;
}

.img{
	height: 500px;
	width: 650px;
	display: block;
	margin: auto;
}

.imgre{
	height: auto;
	width: 600px;
	display: block;
	margin: 50px 400px 40px -20px;
	border-radius: 8px;
}

.cont{
	padding: 0%;
	margin: 0%;
}

.img2{
	padding: 20px 4px 0px 4px;
	filter: drop-shadow(1px 3px 1px #A5A5A6);
	height: auto;
	width: 230px;
	display: block;
	margin: auto;
}

.parr{
	text-align: center;
	padding: 20px;
}

.inp{
	width: 230px;
	height: 35px;
}

.inpr{
	width: 280px;
	height: 35px;
	outline-color: #f5caba;
}